*.class
**/bin
**/build
**/target
**/htmlcov
**/venv

delete.py
/.gradle/
.metadata
HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar

**/.settings
**/.classpath
**/.project
**/*.jar
/Java JDK src/
/java-challenge-siva/